* {
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: hsl(231, 5%, 50%);
    overflow: hidden;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 8%;
    background-color: antiquewhite;
}
.header_contents{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60%;
}
.username_part{
    font-size: 3rem;
    margin-left: 2rem;
}
.signIn_button{
    margin-top: 1rem;
}
.signIn_button input{
    font-size: 1.2rem;;
    height: 2rem;
    width: 5rem;
}
.body{
    width: 100%;
    height: 77%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}
.left_side{
    height: 100%;
    width: 20%;
    background-color: cadetblue;
    padding-top: 2rem;
    font-size: 1.2rem;
}
.right_side{
    height: 100%;
    width: 80%;
    background-color: teal;
}
.add_section{
    width: 100%;
    height: 15%;
    background-color: chartreuse;
    display: flex;
    align-items: center;
}
.add_section_content{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    margin-left: 4rem;
    width: 100%;
}
.title_input input{
    height: 2rem;
}
.main_input{
    width: 75%;
}
.main_input input{
    height: 4rem;
    width: 100%;
    font-size: 1.2rem;
}
.add_button input{
    font-size: 1.2rem;;
    height: 2rem;
    width: 5rem;
}
.title_place{
    background-color: brown;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 2rem;

}
.title_place:hover{
    background-color: gray;
}
.active{
    background-color: gray;
}